<a href="https://colab.research.google.com/github/Faizy30/House-price-prediction/blob/main/house_price_dl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#California housing dataset

In [ ]:
from sklearn.datasets import fetch_california_housing
house = fetch_california_housing()

In [ ]:
type(house)

sklearn.utils.Bunch

In [ ]:
house.keys() #accesing the keys to get the values in this dictionary like variable(bunch)

dict_keys(['data', 'target', 'frame', 'target_names', 'feature_names', 'DESCR'])

In [ ]:
print(house['DESCR'])  #similar to df.info()

.. _california_housing_dataset:

California Housing dataset
--------------------------

**Data Set Characteristics:**

    :Number of Instances: 20640

    :Number of Attributes: 8 numeric, predictive attributes and the target

    :Attribute Information:
        - MedInc        median income in block group
        - HouseAge      median house age in block group
        - AveRooms      average number of rooms per household
        - AveBedrms     average number of bedrooms per household
        - Population    block group population
        - AveOccup      average number of household members
        - Latitude      block group latitude
        - Longitude     block group longitude

    :Missing Attribute Values: None

This dataset was obtained from the StatLib repository.
https://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html

The target variable is the median house value for California districts,
expressed in hundreds of thousands of dollars ($100,000).

This dataset was derived from the 1990 U.S. census, using one row per census
block group. A block group is the smallest geographical unit for which the U.S.
Census Bureau publishes sample data (a block group typically has a population
of 600 to 3,000 people).

An household is a group of people residing within a home. Since the average
number of rooms and bedrooms in this dataset are provided per household, these
columns may take surpinsingly large values for block groups with few households
and many empty houses, such as vacation resorts.

It can be downloaded/loaded using the
:func:`sklearn.datasets.fetch_california_housing` function.

.. topic:: References

    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,
      Statistics and Probability Letters, 33 (1997) 291-297

In [ ]:
import pandas as pd
df = pd.DataFrame(house['data'],columns = house['feature_names'])
df['Target'] = house['target']
df

       MedInc  HouseAge  AveRooms  ...  Latitude  Longitude  Target
0      8.3252      41.0  6.984127  ...     37.88    -122.23   4.526
1      8.3014      21.0  6.238137  ...     37.86    -122.22   3.585
2      7.2574      52.0  8.288136  ...     37.85    -122.24   3.521
3      5.6431      52.0  5.817352  ...     37.85    -122.25   3.413
4      3.8462      52.0  6.281853  ...     37.85    -122.25   3.422
...       ...       ...       ...  ...       ...        ...     ...
20635  1.5603      25.0  5.045455  ...     39.48    -121.09   0.781
20636  2.5568      18.0  6.114035  ...     39.49    -121.21   0.771
20637  1.7000      17.0  5.205543  ...     39.43    -121.22   0.923
20638  1.8672      18.0  5.329513  ...     39.43    -121.32   0.847
20639  2.3886      16.0  5.254717  ...     39.37    -121.24   0.894

[20640 rows x 9 columns]

In [ ]:
x = df.iloc[:,0:6].values
y = df.iloc[:,-1].values

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)  #0.75 for training, 0.25 testing    to change give    test_data = 0.2

In [ ]:
x_train.shape

(15480, 6)

In [ ]:
x_test.shape

(5160, 6)

In [ ]:
y_train.shape

(15480,)

In [ ]:
y_test.shape

(5160,)

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled  = scaler.transform(x_test)

In [ ]:
#create a simple neural network

In [ ]:
from tensorflow import keras
from keras import layers

In [ ]:
x_train[0].shape #6 input columns

(6,)

In [ ]:
#defining the neural network architecture
model = keras.Sequential()    #beginner level api model
model.add(layers.Dense(5,activation = 'relu', input_shape = x_train[0].shape))
model.add(layers.Dense(1))
#6 i/p columns (6*5)+5 = 35 parameters
#1 o/p columns (1*5)+1 = 6 parameters

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 5)                 35

 dense_1 (Dense)             (None, 1)                 6

=================================================================
Total params: 41
Trainable params: 41
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.get_weights()

[array([[ 0.61606485, -0.6391556 , -0.0894354 ,  0.38154966, -0.00499779],
        [-0.66352475, -0.67715025, -0.6082417 , -0.39811102,  0.03117508],
        [-0.08800721, -0.5338193 , -0.5165198 , -0.2728663 , -0.7054464 ],
        [ 0.08969003,  0.363095  , -0.67507476, -0.38739315, -0.02710825],
        [-0.681844  , -0.63879585,  0.2931859 , -0.61386365, -0.18470025],
        [-0.5608429 ,  0.42358333,  0.14621842, -0.6042875 , -0.55573785]],
       dtype=float32),
 array([0., 0., 0., 0., 0.], dtype=float32),
 array([[ 0.7134521 ],
        [ 0.07176661],
        [-0.11262894],
        [ 0.8875923 ],
        [ 0.6059549 ]], dtype=float32),
 array([0.], dtype=float32)]

In [ ]:
model.compile(optimizer='adam',loss='mean_squared_error',metrics ='Accuracy')

In [ ]:
model.fit(x_train_scaled,y_train, epochs = 15)

Epoch 1/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4681 - Accuracy: 0.0026
Epoch 2/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4667 - Accuracy: 0.0026
Epoch 3/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4656 - Accuracy: 0.0026
Epoch 4/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4653 - Accuracy: 0.0026
Epoch 5/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4644 - Accuracy: 0.0026
Epoch 6/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4632 - Accuracy: 0.0026
Epoch 7/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4622 - Accuracy: 0.0026
Epoch 8/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4615 - Accuracy: 0.0026
Epoch 9/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4610 - Accuracy: 0.0026
Epoch 10/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4604 - Accuracy: 0.0026
Epoch 11/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4592 - Accuracy: 0.0026
Epoch 12/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4588 - Accuracy: 0.0026
Epoch 13/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4578 - Accuracy: 0.0026
Epoch 14/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4601 - Accuracy: 0.0026
Epoch 15/15
484/484 [==============================] - 1s 1ms/step - loss: 0.4581 - Accuracy: 0.0026

In [ ]:
#BATCH SIZE = 64,32,16,8
# by default the batch size = 32

In [ ]:
x_train_scaled.shape

(15480, 6)

In [ ]:
15480/32     # 484 batches       1 iteration/1 epoch = 484 batches

483.75

In [ ]:
model.get_weights() #UPDATED  WEIGHTS AND BIAS VALUES AFTER FITTING THE MODEL

[array([[ 0.2516883 , -1.1354666 , -0.09568599,  0.34951237,  0.1479677 ],
        [-0.03069355, -0.26384565, -0.186031  ,  0.18743125,  0.04913624],
        [ 0.02649924, -0.15927608, -0.2814746 ,  0.17197835, -0.967053  ],
        [ 0.08017436,  0.49457112,  0.23198615, -0.05899783,  0.67503744],
        [-0.08198117, -0.16487366, -0.08003299,  0.07097611,  0.0415593 ],
        [ 0.0151657 ,  0.19329868,  0.24428773, -3.2642536 , -1.4607364 ]],
       dtype=float32),
 array([ 1.1596347 ,  1.5563416 ,  1.3006142 , -0.04366037,  0.03493426],
       dtype=float32),
 array([[ 0.75707656],
        [-0.49485233],
        [ 0.40346268],
        [ 1.3353021 ],
        [ 1.0486606 ]], dtype=float32),
 array([0.9891122], dtype=float32)]

In [ ]:
y_pred = model.predict(x_test_scaled)
y_pred

array([[1.7125487],
       [2.9425256],
       [2.02579  ],
       ...,
       [2.5014741],
       [2.9253175],
       [2.4236908]], dtype=float32)

In [ ]:
y_test

array([1.369, 2.413, 2.007, ..., 1.609, 2.273, 2.656])

In [ ]:
from sklearn.metrics import mean_squared_error,r2_score
mean_squared_error(y_pred,y_test)

0.4860273145027732

In [ ]:
r2_score(y_pred,y_test)

0.436584534133298